<!doctype html>
<html lang="en" >
<head >
  <meta charset="UTF-8" >
  <link rel="stylesheet" href="css/main.css" >
  <title >Document</title >
</head >
<body >
<a href="/" >Home</a >
<a href="/about" >About</a >

<h1><%= message %></h1>

<div class="big-box">


  <div class="med-box">


    <div class="lil-box">
      box1

    </div>

  </div>

</div>



</body >
</html >